{% extends 'accounts/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
	<h3>PHOTOS:</h3>
</div>




<div class="a">
		<div class="container">
 			<div class="col4-layout">
 				<div class="col">
 					<div class="main-content">
						<h3> CAN-Info</h3>
	  					<p>
	  						<img src="{% static 'images/add.jpg' %}">
	  					</p>
 					</div>
 				</div>
 					<div class="col">
 					<div class="main-content">
	  					<p>
	  						<br>
	  						<br>
	  						<img src="{% static 'images/Img-010.jpg' %}">
	  					</p>
 					</div>
 				</div>
	  			<div class="col">
 					<div class="main-content">
						<br>
						<br>
	  					<p>
		  					<img src="{% static 'images/Img-08.jpg' %}">
	  					</p>
 					</div>
 				</div>
	  			<div class="col">
 					<div class="main-content">
						<br>
						<br>
	  					<p>
		  					<img src="{% static 'images/Img-09.jpg' %}">
		  				</p>
 					</div>
 				</div>
 			</div>
		</div>
	</div>

<div class="a">
		<div class="container">
 			<div class="col4-layout">
 				<div class="col">
 					<div class="main-content">
						<h3> Dhulikhel</h3>
	  					<p>
	  						<img src="{% static 'images/Img-011.jpg' %}">
	  					</p>
 					</div>
 				</div>
 					<div class="col">
 					<div class="main-content">
	  					<p>
	  						<br>
	  						<br>
	  						<img src="{% static 'images/Img-012.jpg' %}">
	  					</p>
 					</div>
 				</div>
	  			<div class="col">
 					<div class="main-content">
						<br>
						<br>
	  					<p>
		  					<img src="{% static 'images/Img-013.jpg' %}">
	  					</p>
 					</div>
 				</div>
	  			<div class="col">
 					<div class="main-content">
						<br>
						<br>
	  					<p>
		  					<img src="{% static 'images/Img-014.jpg' %}">

	  					</p>
 					</div>
 				</div>
 			</div>
		</div>
	</div>
<div class="a">
		<div class="container">
 			<div class="col4-layout">
 				<div class="col">
 					<div class="main-content">
						<h3> 20th Birthday</h3>
	  					<p>
	  						<img src="{% static 'images/Img-015.jpg' %}">
	  					</p>
 					</div>
 				</div>
 					<div class="col">
 					<div class="main-content">
	  					<p>
	  						<br>
	  						<br>
	  						<img src="{% static 'images/Img-016.jpg' %}">
	  					</p>
 					</div>
 				</div>
	  			<div class="col">
 					<div class="main-content">
						<br>
						<br>
	  					<p>
		  					<img src="{% static 'images/Img-017.jpg' %}">
	  					</p>
 					</div>
 				</div>
	  			<div class="col">
 					<div class="main-content">
						<br>
						<br>
	  					<p>
		  					<img src="{% static 'images/Img-018.jpg' %}">
		  				</p>
 					</div>
 				</div>
 			</div>
		</div>
	</div>

<div class="a">
		<div class="container">
 			<div class="col4-layout">
 				<div class="col">
 					<div class="main-content">
						<h3> Drawings</h3>
	  					<p>
	  						<img src="{% static 'images/Img-027.jpg' %}">
	  					</p>
 					</div>
 				</div>
 					<div class="col">
 					<div class="main-content">
	  					<p>
	  						<br>
	  						<br>
	  						<img src="{% static 'images/Img-028.jpg' %}">
	  					</p>
 					</div>
 				</div>
	  			<div class="col">
 					<div class="main-content">
						<br>
						<br>
	  					<p>
		  					<img src="{% static 'images/Img-029.jpg' %}">
	  					</p>
 					</div>
 				</div>
	  			<div class="col">
 					<div class="main-content">
						<br>
						<br>
	  					<p>
		  					<img src="{% static 'images/Img-030.jpg' %}">

	  					</p>
 					</div>
 				</div>
 			</div>
		</div>
	</div>
<div class="a">
		<div class="container">
 			<div class="col4-layout">
 				<div class="col">
 					<div class="main-content">
						<h3> Nikon pg</h3>
	  					<p>
	  						<img src="{% static 'images/Img-019.jpg' %}">
	  					</p>
 					</div>
 				</div>
 					<div class="col">
 					<div class="main-content">
	  					<p>
	  						<br>
	  						<br>
	  						<img src="{% static 'images/Img-020.jpg' %}">
	  					</p>
 					</div>
 				</div>
	  			<div class="col">
 					<div class="main-content">
						<br>
						<br>
	  					<p>
		  					<img src="{% static 'images/Img-021.jpg' %}">
	  					</p>
 					</div>
 				</div>
	  			<div class="col">
 					<div class="main-content">
						<br>
						<br>
	  					<p>
		  					<img src="{% static 'images/Img-022.jpg' %}">
		  				</p>
 					</div>
 				</div>
 			</div>
		</div>
	</div>

<div class="a">
		<div class="container">
 			<div class="col4-layout">
 				<div class="col">
 					<div class="main-content">
						<h3>>>></h3>
	  					<p>
	  						<img src="{% static 'images/Img-023.jpg' %}">
	  					</p>
 					</div>
 				</div>
 					<div class="col">
 					<div class="main-content">
	  					<p>
	  						<br>
	  						<br>
	  						<img src="{% static 'images/Img-024.jpg' %}">
	  					</p>
 					</div>
 				</div>
	  			<div class="col">
 					<div class="main-content">
						<br>
						<br>
	  					<p>
		  					<img src="{% static 'images/Img-025.jpg' %}">
	  					</p>
 					</div>
 				</div>
	  			<div class="col">
 					<div class="main-content">
						<br>
						<br>
	  					<p>
		  					<img src="{% static 'images/Img-026.jpg' %}">

	  					</p>
 					</div>
 				</div>
 			</div>
		</div>
	</div>

{% endblock %}